<div ng-include="'javascripts/dashboard/modal.html'"></div>
<br />
<p ng-if="forTag!==''">tag: {{forTag}}</p>
<div class="row">
<div class="card col-md-8">
    <h5 class="card-header">Search</h5>
    <div class="card-body">
      <div class="input-group">
        <input type="text" class="form-control" ng-model="search" placeholder="Search for question...">
        
      </div>
    </div>
      <div class="col-md-10">
        <a class="post-box" ng-repeat="question in data | filter:search" href="/#!/questions/{{question._id}}" class="mb-0">
          <p>{{question.title}}</p>
          <footer class="blockquote-footer">by {{question.by.username}}
            <cite title="Source Title"> No of answers: {{question.answers.length}}</cite>
          </footer>
        </a>
      </div>
  </div>
  <div class="col-md-1"></div>
  <div class="card col-md-3">
    <h5 class="card-header">Categories</h5>
    <div class="card-body">
      <div class="row">
        <div class="col-lg-12 col-md-12">
          <ul class="list-unstyled mb-0">
            <li ng-repeat="tag in tags">
              <a ng-click="getByTag(tag._id, tag.name)">{{tag.name}}</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>